.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
    p {
      color: wheat;
      font-size: 2rem;
    }
  }
  .drop-down {
    margin-top: 2rem;
    // width: 30rem;
    display: flex;
    gap: 20px;
  }

  .footer {
    background-color: rebeccapurple;
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
