<ion-content>
  <div class="main-container">
    <div class="header">
      <p>Milwakee Brewery</p>
    </div>
    <div class="drop-down">
      <ion-item>
        <ion-select interface="popover" placeholder="Select type of breweries">
          <ion-select-option value="micro">Micro</ion-select-option>
          <ion-select-option value="nano">Nano</ion-select-option>
          <ion-select-option value="large">Large</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button>Clear</ion-button>
    </div>

    <div class="footer">
      Made by Abbas |
      <a href="https://www.linkedin.com/in/abbas-shamshi/"> LinkedIn </a>|
      <a href="https://github.com/abbas-shamshi">Github </a>|
    </div>
  </div>
</ion-content>
